* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.intro {
  height: 100vh;
}

.intro video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro h1 {
  max-width: 90%;
  position: absolute;
  top: 40%;
  left: 51%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: white;
  white-space: nowrap;
  text-align: center;
}

#name,
#profolio,
#lowdown {
  opacity: 0;
}

@media only screen and (max-width: 430px) {
  .intro h1 {
    font-size: 19px;
    max-width: 100%;
    top: 42%;
    text-align: center;
  }
}
