body {
  overflow: hidden;
  margin: 0;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
h1 {
  position: absolute;
  font-family: 'Couture', sans-serif;
  top: 100px;
  align-content: center;
  z-index: 1;
  color: white;
}
h2 {
  position: absolute;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  top: 80px;
  left: 20px;
  align-content: center;
  z-index: 1;
  color: white;
}
nav {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Couture', sans-serif;
  height: 8vh;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid #ccc;
}

.thisItem a {
  font-weight: bold;
  font-size: 24px;
  color: white;
  padding: 2vw;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.thisItem a:hover {
  font-size: 32px;
  color: #ffa21b;
  transition: all 300ms ease-in-out;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 15px 0;
  z-index: 1;
  font-family: 'Couture', sans-serif;
  transition: all 300ms ease-in-out;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: #ffa21b;
  transition: all 300ms ease-in-out;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  padding: 10px;
  position: absolute; /* 将位置设置为 relative */
  z-index: 2; /* 将 z-index 设置为比其他元素更高的值，以确保它出现在顶部 */
  margin-top: 20vh;
  margin-left: 20vh;
}

.card {
  background-color: white;
  border: 2px solid #17f1ee;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  opacity: 0.8;
  transition: all 200ms ease-in-out;
  margin-right: 50px;
}

.card a {
  text-decoration: none;
  color: rgb(23, 157, 21);
}

.card:hover {
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.card-img {
  width: 100%;
  height: auto;
}

.card p.card-desc {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
